body {
  background-color: rgb(255, 245, 226);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove any default margin */
}

div {
  margin-top: 15vh; /* Move the div down by 15% of the viewport height */
  transform: translateY(
    -50%
  ); /* Adjust to center it vertically within the 1/4 position */
  text-align: center; /* Ensure text is centered within the div */
}

h1 {
  text-align: center; /* Ensure text is centered within the element */
  font-size: 3rem; /* Increase the font size */
}

span {
  text-align: center; /* Ensure text is centered within the element */
  font-size: 1.5rem; /* Increase the font size */
}
